<form action="<%- action %>" method="<%- method %>">
    <ul>
        <% if (form.errors && Object.keys(form.errors).length > 0) { %>
            <% Object.values(form.errors).forEach(error=> { %>
                <li><%= error %></li>          
            <% }) %>
        <% } %>
    </ul>
    <table class="form-table-centered">
        <% fields.forEach(field=> { %>
            <tr>
                <td>
                    <label for="field_<%- field.name %>">
                        <%= field.display_name %>
                    </label>
                </td>
                <td>
                    <div class="form-input">
                        <input 
                            type="<%- field.type %>"
                            name="<%- field.name %>"
                            id="field_<%- field.type %>" 
                            <% if (field.required) { %>
                                required
                            <% } %>
                            <% if (field.min_length) { %>
                                minlength="<%- field.min_length %>"
                            <% } %>
                            <% if (field.max_length) { %>
                                maxlength="<%- field.max_length %>"
                            <% } %>
                            <% if (data[field.name]) { %>
                                value="<%- data[field.name] %>"
                            <% } %>
                        />
                    </div>
                </td>
            </tr>
        <% }) %>
        <tr>
            <td colspan="2" style="text-align: center;">
                <button><%= locals.submit_text || "Wyślij" %></button>
            </td>
        </tr>
    </table>
</form>
