<html data-theme="<%- app.theme %>" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header>
        <nav>
            <% if (page !== "/" && user) { %>
                <a href="/">Go back to your rating</a>
            <% } %>
        </nav>
        <section class="controls">
            <a href="/settings/toggle-theme?next=<%- encodeURIComponent(page) %>">
                <% if (app.theme === "dark") { %>
                    <strong>Dark</strong> | Light
                <% } else { %>
                    Dark | <strong>Light</strong>
                <% } %>
            </a>
        </section>
        <section class="controls">
            <% if (!page.startsWith("/auth/")) { %> 
                <% if (user) { %>
                    <span>Hello <%= user.username %></span>
                    <a href="/auth/logout">Log out</a>
                <% } else { %>
                    <a href="/auth/login">Log in</a>
                <% } %>
            <% } %>
        </section>
        <a href="/songs">Song list</a>
    </header>
    <main>
        <h1>
            <%= title %>
        </h1>
