<form method="POST" action="/songs/saveRating">
    <input type="submit" value="Update rating">
    <table>
        <thead>
            <tr>
                <th>game</th>
                <th>name</th>
                <th>level</th>
                <th>difficulty</th>
                <th>FC</th>
                <th>AP</th>
            </tr>
        </thead>
        <% data.forEach(function(song) { %>
            <tr>
                <td>
                    <%= song.game %>
                </td>
                <td>
                    <%= song.name %>
                </td>
                <td>
                    <%= song.lvl %>
                </td>
                <td>
                    <%= song.difficulty %>
                </td>
                <td>
                    <input type="checkbox" name="songFcIds" value="<%= song.sd_id %>" <% if(fcTab &&
                        fcTab.includes(song.sd_id)) { %>checked<% } %>>
                </td>
                <td>
                    <input type="checkbox" name="songApIds" value="<%= song.sd_id %>" <% if(apTab &&
                        apTab.includes(song.sd_id)) { %>checked<% } %>>
                </td>
            </tr>
            <% })%>
    </table>
</form>
